<%- include('../partials/head') %> <%- include('../partials/navigation') %>

<h1>Home</h1>

<h2>Voitures disponible</h2>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>brand</th>
      <th>model</th>
      <th>year</th>
      <th>price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% cars.forEach((car) => { %>
    <tr>
      <td><%= car._id %></td>
      <td><%= car.brand %></td>
      <td><%= car.model %></td>
      <td><%= car.year %></td>
      <td><%= car.price %></td>
      <td><a href="/car/<%= car._id %>">Voir le detail</a></td>
      <td><a href="/update/car/<%= car._id %>">Mettre à jour</a></td>
      <td>
        <button type="button" onclick="deleteCar('<%= car._id %>')">
          Supprimer
        </button>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
